.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    width: 60%;
    margin: 0 auto;
  }

  .footer-social {
    margin-left: 0;
    text-align: center;
  }
}
